{% if CONSUL_TRADITIONAL_MESH_ENABLED|bool and CONSUL_VM_EC2_FEDERATED|bool %}
primary_datacenter = "{{ CONSUL_VM_EC2_DC1_DATACENTER }}"

retry_join_wan = {{ (groups["consul_nodes"] | map('extract', hostvars, 'private_ip') | map(attribute='stdout', default='') | list | select) }}
{% endif %}