GATEWAY_SERVICE_NAME="{{ 'mesh-gateway-' + this_dc_name.stdout }}"
GATEWAY_SERVICE_PRIV_IP_PORT="{{ vars['ansible_facts']['default_ipv4']['address'] + ':9443' }}"
GATEWAY_SERVICE_PUB_IP_PORT="{{ vars['ansible_host'] + ':8443' }}"
GATEWAY_SERVICE_TOKEN_ID="{{ groups[PRIMARY_DC_MGMT] | map('extract', hostvars, 'mesh_gateway_token') | map(attribute='stdout', default='') | list | select | join('') }}"

CONSUL_CACERT=/opt/consul/tls/consul-agent-ca.pem
CONSUL_CLIENT_CERT=/opt/consul/tls/{{ this_dc_name.stdout }}-client-consul-0.pem
CONSUL_CLIENT_KEY=/opt/consul/tls/{{ this_dc_name.stdout }}-client-consul-0-key.pem

{% if CONSUL_VM_EC2_TLS_ENABLED|bool %}
CONSUL_HTTP_ADDR="https://127.0.0.1:8501"
CONSUL_HTTP_SSL_VERIFY=false

{% endif %}
