<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Command Output Streaming</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Command Output:</h1>
        <pre id="output" class="mt-3"></pre>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var output = $('#output');

            function streamOutput() {
                var source = new EventSource('/stream');
                source.onmessage = function(event) {
                    output.append(event.data + '<br>');
                    window.scrollTo(0, document.body.scrollHeight);
                };
            }

            streamOutput();
        });
    </script>
</body>
</html>

